<div class="w-full h-full ">
    <div>
      <img class="fixed w-1/2 h-screen object-contain" src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?t=st=1740421124~exp=1740424724~hmac=d3114ba237a46d662470740baea73c36bbacefc017afef15a6c7025c09933cac&w=740"alt="image">
  <h1 class="absolute left-20 top-5 font-bold text-blue-500 text-3xl p-1"><i class="fa-solid fa-chart-pie fa-spin"></i> Travelista Tours <i class="fa-solid fa-face-smile-beam"></i></h1>
  </div>
  <div class="flex justify-end p-10">
  <div class=" p-10 rounded-3xl w-130 h-145 absolute top-8 right-10">
  <form #singUpForm="ngForm" (ngSubmit)="onSubmit(singUpForm)" class="form">
    <h1 class="font-bold text-6xl text-left text-blue-600 p-1">Welcome Back</h1>
    <p class="text-left p-1 text-base font-normal">Welcome back! Please enter your details.</p>
  
  <p class="mt-5 p-2">
    <label for="email"class="block text-sm font-small">Email</label>
    <input type="text" class="shadow-xl p-2 boder rounded bg-white w-100" placeholder="sjohn...@gmail.com" id="email" name="email" ngModel>
  </p>
  <p class="mt-5 p-2">
    <label for="password" class="block text-sm font-small">Password</label>
    <input type="password" class="shadow-xl p-2 boder rounded bg-white w-100" placeholder="************" id="password" name="password"ngModel>
  </p>
  <div class="flex gap-25 p-3">
    <p><input type="checkbox"> Remember for 30 days</p> <p class="text-blue-900">forgot password</p></div>
  
  
  <div class="flex justify-center mt-5">
    <button type="submit" class="bg-blue-500 text-white w-100 h-10 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">Sign in</button>
  </div>
  
  <div class="flex justify-center mt-5">
    <button type="submit" class="bg-blue-100 opacity-75 text-black w-100 h-10 rounded hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-300">Sign in with Google</button>
  </div>
  <p class="flex justify-center mt-5 gap-2">Don't have an account?<a [routerLink]="'/signup'" class="text-blue-900"> Sign up</a></p>
  
  </form>
  </div>
  </div>
  </div>
  